{% extends "base.html" %}
{% block title %} PRODUCTS {% endblock %}
{% block content %}

<div class="container">

  <h3>Explore our collection</h3>
  <P>Quality you can trust</P>




  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ADD PRODUCTS
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add products</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div>
            <form action="/add_products" method="post">
              <div class="mb-3">
                <label>product name</label>
                <input type="text" name="p_name">
              </div>
              <div class="mb-3">
                <label>buying price</label>
                <input type="number" class="form-control" name="by_price">
              </div>
              <div class="mb-3">
                <label>selling price</label>
                <input type="number" class="form-control" name="s_price">
              </div>


              <button type="submit" class="btn btn-primary">submit</button>
            </form>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>



  <!-- product 1 -->
  <div class="card" style="width: 18rem;">
    <img src="/static/fruits.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">super fresh fruits</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
  <!-- product 2 -->
  <div class="card" style="width: 18rem;">
    <img src="/static/clothes-bags.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">classic bags and outfits</h5>
      <p class="card-text">Durable and stylish.perfect for any season</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/static/electronics.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
        content.</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>



  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">product id</th>
          <th scope="col">product name</th>
          <th scope="col">buying price</th>
          <th scope="col">selling price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{product[0]}}</td>
          <td>{{product[1]}}</td>
          <td>{{product[2]}}</td>
          <td>{{product[3]}}</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Edit product
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <form action="/update_products" method="POST"></form>
                      <div>
                        <input type="hidden" value="{{ product[0] }}" id="productName{{ product[0] }}" name="pid">
                      </div>
                      <div>
                        <label for="productName{{ product[0] }}" class="form-label">product Name</label>
                        <input type="text" value="{{ product[0] }}" id="productName{{ product[1] }}" name="name">
                      </div>
                      <div>
                        <label for="productName{{ product[0] }}" class="form-label">Buying price</label>
                        <input type="number" value="{{ product[0] }}" id="productName{{ product[0] }}" name="buying_price">
                      </div>
                      <div>
                        <label for="productName{{ product[0] }}" class="form-label">selling price</label>
                        <input type="number" value="{{ product[0] }}" id="productName{{ product[0] }}" name="selling_price">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>




          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>











  {% endblock %}