{% extends "base.html" %}
{% block title %} Sales {% endblock %}
{% block content %}

<div class="container">

  these are my sales
  <p>{{mysales}}</p>




  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    MAKE A NEW SALE
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD SALE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form action="/add_sales" method="post">
              <div>
                <select name="pid">
                  <option value="">select a product</option>
                  {% for product in products %}
                  <option value={{product[0]}}>{{product[1]}}</option>>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label for="">Quantity</label> <br>
                <input type="number" name="quantity">
              </div>
              <div>
                <button type="submit">add sale</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>



  <div>
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">pid</th>
          <th scope="col">quantity</th>
          <th scope="col">created_at</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in mysales %}
        <tr>
          <td>{{sale[0]}}</td>
          <td>{{sale[1]}}</td>
          <td>{{sale[2]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>


  </div>

  {% endblock %}